<header>
    <h1>
        {{pageTitle}}
    </h1>
    <span>
        <a href="/">Home</a>
    </span>
    <span>
        |
    </span>
    <span>
        <a href="/about">About</a>
    </span>
    <span>
        |
    </span>
    <span>
        <a href="/links">Links</a>
    </span>
</header>