<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
    </head>
    <body>
        {{> header}}
        <p>
            This is the about page, or aboot for our Canadian visitors.
        </p>
        {{> footer}}
    </body>
</html>