<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Links
    </title>
</head>
<body>
    {{> header}}
    Some links will eventually appear here
    {{> footer}}
<script>

</script>
</body>
</html>