<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>
            Uh oh, that didn't work!
        </h1>
    <p>
        brb!
    </p>
    </body>
</html>