<!DOCTYPE html>
<!--This view can be used to take a page down gracefully-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Uh oh!
        </title>
    </head>
    <body>
        <script>
            window.onload = () => {
                alert('Page under construction');
                window.location.replace('/');
            };
        </script>
    </body>
</html>